<div id="teams" class="card-area">
  <div class="wrapper">
    <h2>Team</h2>
    <p id="parrafo">
      Our team at The Digital Nomads Association Colombia is a diverse group of
      dedicated professionals passionate about travel and cultural exchange. We
      are committed to connecting and guiding nomads, fostering meaningful
      relationships with local communities, and ensuring enriching, sustainable
      experiences for all members in Colombia.
    </p>
    <div class="box-area">
      <div class="box box-joan">
        <img src="../4 Joan Boluda Chova-4 (1).jpg" alt="imagen-Joan-Boluda" />
        <div class="box-contend">
          <h3>Joan</h3>
          <h4>Director of International Affairs</h4>
          <p>
            Joan, a Spanish entrepreneur, researched digital nomadism in
            Colombia. As Director of International Affairs and head of Nomadas
            Digitales Latinos, he connects global nomads, driven by a passion
            for bringing people together.
          </p>
          <div class="social-container">
            <a
              href="https://www.instagram.com/joan_gandia?igsh=MWY2MmdqaDZxNjZrNg=="
              ><i class="fa-brands fa-instagram"></i></a
            >
          </div>
        </div>
      </div>
      <div class="box">
        <img src="../laura.webp" alt="imagen-laura" />
        <div class="box-contend">
          <h3>Laura Morales</h3>
          <h4>Director of Marketing and Communications</h4>
          <p>
            Laura is an adept and curious content marketing strategist from
            Bogotá, Colombia, now exploring the world as a Digital Nomad.
            <div class="social-container">
              <a href="https://www.facebook.com/nadia.alejandra.56"
                ><i class="fa-brands fa-facebook"></i></a
              >
              <a
                href="https://www.linkedin.com/in/nadia-cort%C3%A9s-quenguan-5362bb1a/"
                ><i class="fa-brands fa-linkedin"></i></a
              >
              <a href="https://www.instagram.com/spanishfordigitalnomads/"
                ><i class="fa-brands fa-instagram"></i></a
              >
             
            </div>
          </p>
        </div>
      </div>
      <div class="box">
        <img src="../fotoSara.jpeg" alt="imagen-Sara" />
        <div class="box-contend">
          <h3>Sara López Arcila</h3>
          <h4>Community Manager</h4>
          <p>
            Sara from Medellín. She is an audiovisual communicator passionate
            about photography, and she loves capturing unique moments and
            telling stories through her camera
          </p>
          <div class="social-container">
            <a
              href="https://www.facebook.com/share/tA9NkywTAW5TSJTb/?mibextid=qi2Omg"
              ><i class="fa-brands fa-facebook"></i></a
            >
            <a
              href="https://www.linkedin.com/in/sarislopz?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
              ><i class="fa-brands fa-linkedin"></i></a
            >
            <a
              href="https://www.instagram.com/sara.estudio?igsh=MmtpbnpocXl4aWF1"
              ><i class="fa-brands fa-instagram"></i></a
            >
          </div>
        </div>
      </div>
      <div class="box box-daniela">
        <img src="../fotoDaniela.jpeg" alt="imagen-Daniela" />
        <div class="box-contend">
          <h3>Daniela</h3>
          <h4>Communications assistant</h4>
          <p class="text-daniela">
            Daniela is a graphic designer with a great passion for illustration.
            She is excited to start her journey as a digital nomad, combining
            her love for design with the freedom to work from anywhere. Daniela
            is eager to explore new opportunities and places while advancing her
            career!
          </p>
          <div class="social-container">
            <a href="https://www.facebook.com/francois.mongeau"
              ><i class="fa-brands fa-facebook"></i></a
            >
            <a href="https://www.linkedin.com/in/francois-mongeau-b615159/"
              ><i class="fa-brands fa-linkedin"></i></a
            >
            <a href="https://www.instagram.com/daniela_lozano_16/"
              ><i class="fa-brands fa-instagram"></i></a
            >
          </div>
        </div>
      </div>
      <div class="box">
        <img src="../silvia.jpeg" alt="imagen-Silvia" />
        <div class="box-contend">
          <h3>Silvia Madrón</h3>
          <h4>Project Manager</h4>
          <p class="text-daniela">
            Silvia is a Digital Nomad from Como, Italy. She is passionated about
            languages, latin danses, and discovering foreign cultures.
          </p>
          <div class="social-container">
            <a href="https://www.facebook.com/silvia.madron/"
              ><i class="fa-brands fa-facebook"></i></a
            >
            <a href="https://www.linkedin.com/in/silvia-madron/"
              ><i class="fa-brands fa-linkedin"></i></a
            >
            <a href="https://www.instagram.com/silv14_m/"
              ><i class="fa-brands fa-instagram"></i></a
            >
          </div>
        </div>
      </div>
      <div class="box">
        <img src="/DairoMontiel.png" alt="imagen-Dairo" />
        <div class="box-contend">
          <h3>Dairo Montiel</h3>
          <h4>Web Developer</h4>
          <p class="text-daniela">
            Dairo is technology enthusiast with a passion for discovering new
            cultures and meeting people from all walks of life. With a free
            spirit, I like embrace the diversity of the world and the endless
            possibilities that technology offers.
          </p>
          <div class="social-container">
            <a
              href="https://www.facebook.com/dairo.m.herrera"
              ><i class="fa-brands fa-facebook"></i></a
            >
            <a href="https://www.linkedin.com/in/dairo-montiel-99a664123"
              ><i class="fa-brands fa-linkedin"></i></a
            >
            <a
              href="https://www.instagram.com/"
              ><i class="fa-brands fa-instagram"></i></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    .wrapper {
      padding: 10px 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      & h2 {
        font-family: var(--first-font);
        font-size: var(--size-h2);
        letter-spacing: var(--letter-space);
        color: var(--first-color);
        margin-top: 3rem;
      }
    }

    .wrapper #parrafo {
      padding: 0 7rem;
      font-family: var(--second-font);
      text-align: justify;
      font-size: var(--font-size-p);
      color: var(--font-color-global);
      margin: 0 0 10px 0;
    }
    .card-area {
      padding: 20px 40px;
    }
    .box-area {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 40px;
      margin-top: 50px;
      justify-content: center;
      animation-name: move;
      animation-timing-function: linear;
      animation-fill-mode: both;
      animation-timeline: view();
      animation-range: entry 20% cover 40%;
      & .box {
        overflow: hidden;
        position: relative;
        border-radius: 1rem;
        & .box-contend {
          & h4 {
            margin: 0;
          }
          & p {
            text-align: justify;
          }
        }
        & img {
          width: 100%;
          display: block;
          transition: transform 0.5s;
          border-radius: 10px;
          aspect-ratio: 1 / 1;
          object-fit: cover;
        }
      }
    }

    .box-contend {
      & h3 {
        font-family: var(--first-font);
        font-size: var(--font-size-h-card);
        color: var(--third-color);
        margin-bottom: 0;
      }
      & h4 {
        font-family: var(--first-font);
        font-size: 1.2rem;
        color: var(--third-color);
        margin-top: 1rem;
      }
      & p {
        font-family: var(--second-font);
        color: var(--third-color);
      }
    }

    .text-daniela {
      font-size: 0.9rem;
    }
    .social-container {
      margin-top: 1rem;
      & a {
        & i {
          font-size: 1.3rem;
          padding-left: 1rem;
          color: var(--third-color);
        }
      }
    }
    .social-container a i:hover {
      color: var(--first-color);
    }

    .box-contend {
      height: 0;
      width: 100%;
      background: linear-gradient(transparent, var(--second-color) 52%);
      border-radius: 1rem;
      position: absolute;
      left: 0;
      bottom: 0;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 40px;
      text-align: center;
      box-sizing: border-box;
      transition: height 0.5s;
    }
    .box-joan{
      & .box-contend{
        & p{
          margin-bottom: 0;
          font-size: 12px;
        }
      }
    }
    .box-daniela{
      & .box-contend{
        & p{
          margin-bottom: 0;
          font-size: 12px;
        }
      }
    }

    .box:hover .box-contend {
      height: 100%;
    }
    @keyframes move {
      from {
        opacity: 0;
        translate: 0 100px;
        scale: 0.5;
      }
      to {
        opacity: 1;
        translate: 0 0;
        scale: 1;
      }
    }
    @media (width < 970px) {
      .card-area {
        & h2 {
          margin-top: 3rem;
        }
        & #parrafo {
          padding: 0 8rem;
        }
      }
    }
    @media (width < 898px) {
      .card-area {
        & #parrafo {
          padding: 0 3.5rem;
        }
      }
    }
    @media (width < 830px) {
      .card-area {
        & .wrapper {
          & h2 {
            margin-top: 2rem;
          }
          & #parrafo {
            padding: 0 1rem;
            font-family: var(--second-font);
          }
        }
      }

      .box-area {
        animation-range: entry 10% cover 25%;
      }
    }
    @media (width < 435px) {
      .card-area {
        & .wrapper {
          & h2 {
            padding-top: 1rem;
          }
          & .box-area {
            & .box {
              & .box-contend {
                & p {
                  font-size: 12px;
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  </style>
</div>
